<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <title>MoodMatch</title>
<!-------------- Bootstrap------------------------ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Playfair+Display" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
  <!------ ADD AN INGREDIENT MODAL ---------------->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                  <div class="modal-body">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="doses">
                   <div class="dose">
                      <div class="col-sm-12 col-md-6">
                        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
                      </div>
                    </div>
                  </div>
                </div>
               <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
    </div>
<!------ ADD A REVIEW MODAL ---------------->
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="vertical-alignment-helper">
              <div class="modal-dialog vertical-align-center">
                  <div class="modal-content">
                    <div class="modal-body">
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                         <div class="review">
                        <div class="row">
                          <div class="col-xs-12">
                            <%= render "reviews/new", cocktail: @cocktail, review: @review %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
<!------------layout-------------------->
  <div class="layout">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill, class: "show-image" %>
    <div class="container">
<!------------SHOW PAGE INFO-------------------->
        <div class="showPageContainer">
           <div>
              <h1 class="cocktailName"><%= @cocktail.name.downcase%></h1>
           </div>
<!----------INGREDIENT TABLE-------------------->
           <div class="ingredientTable">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                <div class="tableHeading">
                  <h3 class="heading">Ingredients</h3>
                   <button class="modalbtn" data-toggle="modal" data-target="#myModal">+</button>
                </div>
                <div class="scrollTable">
                  <table class="table">
                    <tbody>
                      <thead></thead>
                      <% @cocktail.doses.each do |dose| %>
                        <tr>
                          <td><%= dose.description %></td>
                          <td><%= dose.ingredient.name %></td>
                          <td class="a">
                            <%= link_to dose_path(dose), method: :delete do %>
                              <i class="fa fa-trash destroy_dose"></i>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                 </div>
                </div>
              </div>
            </div>
<!----------REVIEW TABLE------------------->
            <div class="reviewTable">
              <div class="row">
              <div class="col-xs-12">
              <div class="tableHeading">
                <h3 class="heading">Reviews</h3>
                 <button class="modalbtn" data-toggle="modal" data-target="#myModal1">+</button>
                </div>
              <% if @cocktail.reviews.empty? %>
                <p>Be the first to write a review</p>
              <% else %>
                <ul class="list-group">
                  <% @cocktail.reviews.each do |review| %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      <span class="badge badge-primary badge-pill">
                        <% counter = 0 %>
                        <% 5.times do %>
                          <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                          <% counter += 1 %>
                        <% end %>
                      </span>
                    <%= review.content %>
                          </li>
                        <% end %>
                  </ul>
                  <% end %>
                </div>
                </div>
              </div>
            </div>
<!------------ LINK BACK-------------------->
      <div class="linkback"><%= link_to "back to all cocktails", cocktails_path %></div>
<!-----end of container div------>
    </div>
<!-----end of layout div------>
  </div>
</body>
</html>
